@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
*{
  font-family: 'Metal Mania', cursive;
}

body{
  margin: 0;
  padding: 0;
  background-color: #7D0996 ;
  overflow: hidden !important;
  
}
.box {
  position: relative;
  top: 0px;
  width: 300px;
  margin-left: -150px;
  height: 400px;
  margin: 0 auto;
  margin-top: 30px !important;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  background-color: white;
  vertical-align: bottom !important;
}
h1{
  padding-top: 4px;
  color: coral;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  text-transform: lowercase;
}
.todo{
    padding-bottom: 5px;
}
.new_act {
  width: 68%;
  height: 30px;
  color: black;
  padding: 3px 7px;
  font-size: 1em;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 7px;
  margin-left: 25px;
}
.new_act:focus {
  outline: none;
  border: 2px solid #95f252;
}
::placeholder{
    font-size: 12px;
}
.add_new {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  position: relative;
  top: 0px;
  left: 9px;
  z-index: 9999;
  background-color: #95f252;
  line-height: 1em;
  font-size: 2em;
  border: none;
  padding-bottom: 8px;
  text-align: center;
  color: #7D0996;
  transition: transform .3s;
  box-shadow: 0 1px 5px rgba(0,0,0, 0.4);
  outline:none;
  
}
.add_new:hover {
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0, 0.5); 
  outline:none !important;
}


.add_new::before {
  content: '+';
  position: relative;
  top: 4px;
}

.add_new.active {
  background-color: #45a8a3;
  transform: rotate(45deg);
  box-shadow: 0 4px 12px rgba(0,0,0, 0.5);
  -webkit-transition: -webkit-transform 0.5s, background-color 0.5s, box-shadow 0.5s;
  -moz-transition: -moz-transform 0.5s, background-color 0.5s, box-shadow 0.5s;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
  outline:none;
}
.add_new.active::before {
  content: '+';
  position: relative;
  top: 4px;
}
ul{
  margin-left:0px;
  margin-top: 10px;
  list-style: none;
  text-align: left;
  padding: 0;
  box-sizing: border-box;
  height: 240px;
  overflow-y: auto;
}
ul li {
  line-height: 40px;
  color: coral;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
  
 
   
}

ul li:nth-child(n + 1)::after {
  content:'';
  display: block;
  width: 100%;
  height: 1px;
  background: -webkit-linear-gradient(left, white, #52c1bc, white);
  background: linear-gradient(to right, white, #52c1bc, white);
}

ul li:hover {
  background-color: #95f252 ;
  cursor:pointer;
}
ul li.checked {
  background: #95f252;
  text-decoration: line-through;
  color: #999;
   
  
}


ul li.checked::before {
  content:'✔';
  text-decoration: none !important;
  padding:0;
  display:inline-block !important;
  position:relative;
  color: #999;
  left: -15px;  margin-right: -6px;
  
}

.close {
  position: relative;
  right: 5px; 
  padding: 8px 0px;
  text-decoration: none;
  overflow: hidden;
}

.close:hover {
 text-decoration: none;
 transform: scale(1.5,1.5);
 -webkit-transform: scale(1.5,1.5);
 overflow: hidden;
}



.rotate_button{
  animation: rotate 1s;
  background-color: #45a8a3;
  box-shadow: 1px 1px 9px 4px rgba(0,0,0, 0.20); 
  outline:none;
}
.rotate_back_button{
  background-color: #45a8a3;
  box-shadow: 1px 1px 9px 4px rgba(0,0,0, 0.18); 
  animation: rotate_back 1s;
  outline:none;
}
@keyframes rotate {
    from {
      transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);}
    to {
      transform: rotateZ(360deg);
      -webkit-transform: rotateZ(360deg);}
}

@keyframes rotate_back {
    from {
      transform: rotateZ(360deg);
      -webkit-transform: rotateZ(360deg);}
    to {
      transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);}
}
.cw {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    font-color: blue;
   }